@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: #21221e;
  background-color: #f2f2f2;
}
body ::-moz-selection {
  background-color: #5f8858;
  color: #f2f2f2;
}
body ::selection {
  background-color: #5f8858;
  color: #f2f2f2;
}
body ::-moz-selection {
  background-color: #417639;
  color: #f2f2f2;
}
body .scroll-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #f2f2f2;
  color: #21221e;
  text-align: center;
  height: 4.8rem;
  width: 4.8rem;
  padding: 1.1rem;
  border: 1px solid #417639;
  border-radius: 12rem;
  cursor: pointer;
  display: none;
  box-shadow: none;
}
body .scroll-top:hover {
  box-shadow: 3px 3px 3px 0px rgba(65, 118, 56, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(2rem, 20px + 10vw, 4.6rem);
  font-family: "Petrona", serif;
  font-weight: 500;
}
@media (min-width: 950px) and (max-width: 1279px) {
  h1 {
    font-size: clamp(4rem, 30px + 10vw, 6rem);
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: clamp(6rem, 30px + 10vw, 7.4rem);
  }
}

h2 {
  font-family: "Petrona", serif;
  font-size: clamp(4rem, 10px + 3vw, 4.4rem);
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-family: "Petrona", serif;
  font-size: clamp(3.6rem, 8px + 2vw, 8rem);
  font-weight: 500;
  font-style: italic;
  color: #417639;
}

h4 {
  font-family: "Petrona", serif;
  font-size: clamp(1.6rem, 10px + 5vw, 2rem);
}

p {
  font-size: clamp(1.5rem, 10px + 5vw, 1.8rem);
}
@media (min-width: 950px) {
  p {
    font-size: clamp(1.8rem, 10px + 5vw, 2rem);
  }
}

.name {
  font-family: "Petrona", serif;
  font-size: clamp(1.5rem, 10px + 5vw, 2.6rem);
  font-style: italic;
}
@media (min-width: 950px) {
  .name {
    font-size: clamp(1.5rem, 10px + 5vw, 4rem);
  }
}

.italic {
  font-style: italic;
}

.number {
  font-family: "Petrona", serif;
  font-size: clamp(4rem, 15px + 10vw, 6.2rem);
}

i {
  font-size: clamp(1.5rem, 10px + 5vw, 2.5rem);
}

a {
  text-decoration: none;
  background: #417639;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  border: 1px solid #417639;
  cursor: pointer;
  color: #f2f2f2;
  font-family: "Petrona", serif;
  font-size: clamp(1rem, 10px + 5vw, 1.8rem);
  box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);
}
@media (min-width: 950px) {
  a {
    font-size: clamp(1.8rem, 10px + 5vw, 2rem);
  }
}

a:hover {
  background: #f2f2f2;
  border: 1px solid #417639;
  color: #417639;
  box-shadow: 0px 0px 15px 10px rgba(65, 118, 56, 0.2);
}

ul {
  list-style: none;
}

li {
  font-size: clamp(1.5rem, 10px + 5vw, 1.8rem);
}
@media (min-width: 950px) {
  li {
    font-size: clamp(1.8rem, 10px + 5vw, 2rem);
  }
}

.stick-light {
  background-color: #f2f2f2;
  height: 0.1rem;
  width: 25rem;
  margin: auto;
  margin-bottom: 4rem;
}

.stick-dark {
  background-color: #21221e;
  height: 0.1rem;
  width: 25rem;
  margin: auto;
  margin-bottom: 4rem;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.title-h2 {
  max-width: 100rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.8rem;
}

button {
  border: none;
  background: #417639;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #f2f2f2;
  font-family: "Petrona", serif;
  font-size: clamp(1rem, 10px + 5vw, 1.8rem);
  border: 1px solid #417639;
  box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);
}
@media (min-width: 950px) {
  button {
    font-size: clamp(1.8rem, 10px + 5vw, 2rem);
  }
}

button:hover {
  background: #f2f2f2;
  border: 1px solid #417639;
  color: #417639;
  box-shadow: 0px 0px 15px 10px rgba(65, 118, 56, 0.2);
}

input,
textarea,
button,
select,
optgroup,
option {
  outline: none;
}

#error p {
  font-size: clamp(1.5rem, 10px + 5vw, 2rem);
  margin: 2rem 0;
}

#success {
  font-size: clamp(1.5rem, 10px + 5vw, 2rem);
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 60%;
}

input::placeholder,
textarea::placeholder {
  opacity: 60%;
}

header {
  padding: 0 1.6rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  header {
    padding: 0 4.8rem;
    gap: 10rem;
  }
}
@media (min-width: 950px) {
  header {
    padding: 2rem 10rem;
    gap: 10rem;
  }
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.6rem;
}
header .nav .name {
  display: inline-block;
}
header .nav .name span {
  display: inline-block;
  transition: transform 0.3s ease;
  animation: lift 0.6s ease forwards;
}
@keyframes lift {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
header .nav .name span:nth-child(1) {
  animation-delay: 0s;
}
header .nav .name span:nth-child(2) {
  animation-delay: 0.1s;
}
header .nav .name span:nth-child(3) {
  animation-delay: 0.2s;
}
header .nav .name span:nth-child(4) {
  animation-delay: 0.3s;
}
header .nav .name span:nth-child(5) {
  animation-delay: 0.4s;
}
header .nav .name span:nth-child(6) {
  animation-delay: 0.5s;
}
header .nav .name span:nth-child(7) {
  animation-delay: 0.6s;
}
header .nav .name span:nth-child(8) {
  animation-delay: 0.7s;
}
header .nav .name span:nth-child(9) {
  animation-delay: 0.8s;
}
header .nav .name span:nth-child(10) {
  animation-delay: 0.9s;
}
header .nav .name span:nth-child(11) {
  animation-delay: 1s;
}
header .nav .name span:nth-child(12) {
  animation-delay: 1.1s;
}
header .nav .name span:nth-child(13) {
  animation-delay: 1.2s;
}
header h1 {
  text-align: center;
}
header h1 .italic {
  color: #417639;
}
@media (min-width: 1280px) {
  header h1 {
    max-width: 100rem;
    align-self: center;
  }
}
header p {
  text-align: center;
}
@media (min-width: 1280px) {
  header p {
    max-width: 80rem;
    align-self: center;
  }
}
header .cta {
  text-align: center;
  font-size: clamp(1rem, 10px + 5vw, 2rem);
  align-self: center;
}
@media (min-width: 1280px) {
  header .cta {
    font-size: clamp(1rem, 10px + 5vw, 2.4rem);
  }
}

.numbers {
  background-color: #417639;
  color: #f2f2f2;
  padding: 6.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .numbers {
    padding: 10rem 4.8rem;
    gap: 4rem;
  }
}
@media (min-width: 950px) {
  .numbers {
    padding: 10rem;
    gap: 5rem;
  }
}
.numbers .container-numbers {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .numbers .container-numbers {
    gap: 8rem;
  }
}
@media (min-width: 950px) {
  .numbers .container-numbers {
    flex-direction: row;
    align-self: center;
    gap: 8rem;
  }
}
.numbers .container-numbers .content-numbers {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .numbers .container-numbers .content-numbers {
    max-width: 40rem;
    align-self: center;
  }
}
@media (min-width: 950px) {
  .numbers .container-numbers .content-numbers {
    width: 100%;
    max-width: 40rem;
  }
}
.numbers .container-numbers .content-numbers .number {
  text-align: center;
}

.about {
  padding: 6.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .about {
    padding: 6.2rem 4.8rem;
  }
}
@media (min-width: 950px) {
  .about {
    padding: 10rem;
    gap: 4rem;
  }
}
.about .container-about {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
@media (min-width: 950px) and (max-width: 1279px) {
  .about .container-about {
    max-width: 80rem;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .about .container-about {
    max-width: 120rem;
    flex-direction: row;
    align-items: center;
    align-self: center;
    gap: 10rem;
  }
}
@media (min-width: 1280px) {
  .about .container-about p {
    line-height: 180%;
  }
}
.about .container-about img {
  border-radius: 0.8rem;
  box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);
  width: 30rem;
  margin: auto;
}
@media (min-width: 500px) and (max-width: 949px) {
  .about .container-about img {
    width: 40rem;
  }
}
@media (min-width: 950px) {
  .about .container-about img {
    width: 40rem;
  }
}

.skills {
  padding: 6.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .skills {
    padding: 6.2rem 4.8rem;
  }
}
@media (min-width: 950px) {
  .skills {
    padding: 10rem;
  }
}
.skills .stick-dark {
  margin-bottom: 10rem;
}
.skills .container-skills {
  margin: auto;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
@media (min-width: 1280px) {
  .skills .container-skills {
    max-width: none;
  }
}
.skills .container-skills .double {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
@media (min-width: 1280px) {
  .skills .container-skills .double {
    display: flex;
    flex-direction: row;
    gap: 8rem;
  }
}
.skills .container-skills .double .content-skills {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 1280px) {
  .skills .container-skills .double .content-skills {
    width: 100%;
  }
}
.skills .container-skills .double .content-skills .text-change {
  color: #21221e;
  font-size: clamp(2rem, 4px + 1.5vw, 2.5rem);
}
.skills .container-skills .double .content-skills .stick-dark {
  margin: 0;
  width: 10rem;
}
.skills .container-skills .double .content-skills ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.skills .container-skills .double .content-skills ul li {
  display: flex;
  gap: 1rem;
  align-items: start;
}

.package {
  padding: 6.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .package {
    padding: 6.2rem 4.8rem;
  }
}
@media (min-width: 950px) {
  .package {
    padding: 10rem;
    gap: 4rem;
  }
}
.package .container-package {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .package .container-package {
    max-width: 60rem;
    align-self: center;
  }
}
@media (min-width: 950px) and (max-width: 1279px) {
  .package .container-package {
    max-width: 60rem;
    align-self: center;
  }
}
@media (min-width: 1280px) {
  .package .container-package {
    flex-direction: row;
    align-self: center;
    gap: 10rem;
  }
}
.package .container-package .content-package-light {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border: 1px solid #417639;
  border-radius: 0.8rem;
  box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);
  padding: 8rem 4rem;
}
@media (min-width: 1280px) {
  .package .container-package .content-package-light {
    width: 50rem;
  }
}
.package .container-package .content-package-light h3 {
  color: #21221e;
}
.package .container-package .content-package-light .stick-dark {
  margin: 0;
  width: 10rem;
}
.package .container-package .content-package-light p {
  font-style: italic;
}
.package .container-package .content-package-light .content-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.package .container-package .content-package-light .content-list .text-change {
  font-family: "Petrona", serif;
}
.package .container-package .content-package-light .content-list ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.package .container-package .content-package-light .content-list ul li {
  display: flex;
  align-items: start;
  gap: 2rem;
}
.package .container-package .content-package-light .text-change-bis {
  font-family: "Petrona", serif;
  font-size: clamp(1.5rem, 10px + 5vw, 2.4rem);
}
.package .container-package .content-package-light .text-change-bis .green {
  color: #417639;
  font-weight: 700;
}
.package .container-package .content-package-dark {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border-radius: 0.8rem;
  box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);
  padding: 8rem 4rem;
  background-color: #417639;
  color: #f2f2f2;
}
@media (min-width: 1280px) {
  .package .container-package .content-package-dark {
    width: 50rem;
  }
}
.package .container-package .content-package-dark h3 {
  color: #f2f2f2;
}
.package .container-package .content-package-dark .stick-light {
  margin: 0;
  width: 10rem;
}
.package .container-package .content-package-dark ul {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.package .container-package .content-package-dark ul li {
  display: flex;
  gap: 2rem;
}
.package .container-package .content-package-dark a {
  background-color: #f2f2f2;
  color: #417639;
  border: 1px solid #f2f2f2;
  text-align: center;
  margin-top: 2rem;
  box-shadow: 4px 4px 4px 0px rgba(171, 173, 170, 0.2);
}
.package .container-package .content-package-dark a:hover {
  background: #417639;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  box-shadow: 0px 0px 15px 10px rgba(171, 173, 170, 0.2);
}

.creation {
  padding: 6.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .creation {
    padding: 6.2rem 4.8rem;
  }
}
@media (min-width: 950px) {
  .creation {
    padding: 10rem;
  }
}
.creation .container-creation {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.creation .container-creation .content-creation {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.creation .container-creation .content-creation img {
  border-radius: 0.8rem;
  box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);
}
@media (min-width: 500px) and (max-width: 949px) {
  .creation .container-creation .content-creation img {
    align-self: center;
    width: 100%;
    max-width: 50rem;
  }
}
@media (min-width: 950px) and (max-width: 1279px) {
  .creation .container-creation .content-creation img {
    align-self: center;
    width: 100%;
    max-width: 70rem;
  }
}
@media (min-width: 1280px) {
  .creation .container-creation .content-creation img {
    max-width: 90rem;
    align-self: center;
  }
}
.creation .container-creation .text-change {
  font-size: clamp(1.4rem, 20px + 10vw, 2.4rem);
  font-family: "Petrona", serif;
  font-style: italic;
  color: #417639;
  text-align: center;
}

.review {
  padding: 6.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .review {
    padding: 6.2rem 4.8rem;
  }
}
@media (min-width: 950px) {
  .review {
    padding: 10rem;
    gap: 4rem;
  }
}
.review .container-review {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
@media (min-width: 1280px) {
  .review .container-review {
    flex-direction: row;
    gap: 4rem;
  }
}
.review .container-review .content-review {
  padding: 4.8rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border: 1px solid #417639;
  border-radius: 0.8rem;
  box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);
}
@media (min-width: 500px) and (max-width: 949px) {
  .review .container-review .content-review {
    max-width: 50rem;
    align-self: center;
  }
}
@media (min-width: 950px) and (max-width: 1279px) {
  .review .container-review .content-review {
    align-self: center;
    max-width: 70rem;
  }
}
@media (min-width: 1280px) {
  .review .container-review .content-review {
    width: 70rem;
  }
}

.contact {
  padding: 6.2rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .contact {
    padding: 6.2rem 4.8rem;
  }
}
@media (min-width: 950px) {
  .contact {
    padding: 10rem;
  }
}
.contact .container-contact {
  display: flex;
  flex-direction: column;
}
.contact .container-contact .content-contact a {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  background: none;
  color: #21221e;
  font-family: "Open Sans", sans-serif;
  border: none;
  box-shadow: none;
}
.contact .form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .contact .form {
    max-width: 60rem;
    width: 100%;
    align-self: center;
  }
}
@media (min-width: 950px) {
  .contact .form {
    max-width: 80rem;
    width: 100%;
    align-self: center;
  }
}
.contact .form div {
  display: flex;
  flex-direction: column;
}
.contact .form div label {
  font-size: clamp(1.5rem, 10px + 5vw, 1.8rem);
  margin-bottom: 0.4rem;
}
.contact .form div input,
.contact .form div textarea {
  border: 1px solid #417639;
  padding: 1.2rem 1.6rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(1rem, 10px + 5vw, 1.75rem);
  box-shadow: 4px 4px 4px 0px rgba(92, 133, 85, 0.2);
}
.contact .form button {
  font-weight: 500;
  width: 100%;
}
@media (min-width: 1280px) {
  .contact .form button {
    max-width: 40rem;
    align-self: center;
  }
}

footer {
  background-color: #417639;
  color: #f2f2f2;
  padding: 8rem 1.6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
footer a {
  background: none;
  padding: 0;
}
footer a:hover {
  background: none;
  color: #f2f2f2;
}

.disclaimer {
  padding: 6.2rem 1.6rem 10rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
@media (min-width: 500px) and (max-width: 949px) {
  .disclaimer {
    padding: 6.2rem 4.8rem 15rem 4.8rem;
  }
}
@media (min-width: 950px) {
  .disclaimer {
    padding: 4rem 10rem 20rem 10rem;
  }
}
.disclaimer h1 {
  align-self: center;
}
.disclaimer .container-disclaimer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.disclaimer .container-disclaimer h3 {
  font-size: clamp(2.4rem, 8px + 2vw, 4rem);
}
.disclaimer .container-disclaimer ul {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.disclaimer .container-disclaimer p {
  padding-left: 4rem;
}

.home {
  background: none;
  color: #21221e;
  border: none;
  box-shadow: none;
  padding: 0;
}

.home:hover {
  box-shadow: none;
  border: none;
  padding: 0;
}/*# sourceMappingURL=style.css.map */