//import
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap");
@import "./variables";

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    color: $dark;
    background-color: $light;

    ::selection {
        background-color: $light-green;
        color: $light;
    }

    ::-moz-selection {
        background-color: $green;
        color: $light;
    }

    .scroll-top {
        position: fixed;
        bottom: 40px;
        right: 40px;
        background-color: $light;
        color: $dark;
        text-align: center;
        height: 4.8rem;
        width: 4.8rem;
        padding: 1.1rem;
        border: 1px solid $green;
        border-radius: 12rem;
        cursor: pointer;
        display: none;
        box-shadow: none;
    }

    .scroll-top:hover {
        box-shadow: 3px 3px 3px 0px rgba(65, 118, 56, 0.2);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: clamp(2rem, 20px + 10vw, 4.6rem);
    font-family: "Petrona", serif;
    font-weight: 500;
    @include tablet {
        font-size: clamp(4rem, 30px + 10vw, 6rem);
    }
    @include desktop {
        font-size: clamp(6rem, 30px + 10vw, 7.4rem);
    }
}

h2 {
    font-family: "Petrona", serif;
    font-size: clamp(4rem, 10px + 3vw, 4.4rem);
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
    font-family: "Petrona", serif;
    font-size: clamp(3.6rem, 8px + 2vw, 8rem);
    font-weight: 500;
    font-style: italic;
    color: $green;
}

h4 {
    font-family: "Petrona", serif;
    font-size: clamp(1.6rem, 10px + 5vw, 2rem);
}

p {
    font-size: clamp(1.5rem, 10px + 5vw, 1.8rem);
    @include tablet-desktop {
        font-size: clamp(1.8rem, 10px + 5vw, 2rem);
    }
}

.name {
    font-family: "Petrona", serif;
    font-size: clamp(1.5rem, 10px + 5vw, 2.6rem);
    font-style: italic;
    @include tablet-desktop {
        font-size: clamp(1.5rem, 10px + 5vw, 4rem);
    }
}

.italic {
    font-style: italic;
}

.number {
    font-family: "Petrona", serif;
    font-size: clamp(4rem, 15px + 10vw, 6.2rem);
}

i {
    font-size: clamp(1.5rem, 10px + 5vw, 2.5rem);
}

a {
    text-decoration: none;
    background: $green;
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;
    border: 1px solid $green;
    cursor: pointer;
    color: $light;
    font-family: "Petrona", serif;
    font-size: clamp(1rem, 10px + 5vw, 1.8rem);
    box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);

    @include tablet-desktop {
        font-size: clamp(1.8rem, 10px + 5vw, 2rem);
    }
}

a:hover {
    background: $light;
    border: 1px solid $green;
    color: $green;
    box-shadow: 0px 0px 15px 10px rgba(65, 118, 56, 0.2);
}

ul {
    list-style: none;
}

li {
    font-size: clamp(1.5rem, 10px + 5vw, 1.8rem);
    @include tablet-desktop {
        font-size: clamp(1.8rem, 10px + 5vw, 2rem);
    }
}

.stick-light {
    background-color: $light;
    height: 0.1rem;
    width: 25rem;
    margin: auto;
    margin-bottom: 4rem;
}

.stick-dark {
    background-color: $dark;
    height: 0.1rem;
    width: 25rem;
    margin: auto;
    margin-bottom: 4rem;
}

.icon {
    width: 2.4rem;
    height: 2.4rem;
}

.title-h2 {
    max-width: 100rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.8rem;
}

button {
    border: none;
    background: $green;
    padding: 1.2rem 2.4rem;
    border-radius: 0.8rem;
    cursor: pointer;
    color: $light;
    font-family: "Petrona", serif;
    font-size: clamp(1rem, 10px + 5vw, 1.8rem);
    border: 1px solid $green;
    box-shadow: 4px 4px 4px 0px rgba(65, 118, 56, 0.2);
    @include tablet-desktop {
        font-size: clamp(1.8rem, 10px + 5vw, 2rem);
    }
}

button:hover {
    background: $light;
    border: 1px solid $green;
    color: $green;
    box-shadow: 0px 0px 15px 10px rgba(65, 118, 56, 0.2);
}

input,
textarea,
button,
select,
optgroup,
option {
    outline: none;
}

#error {
    p {
        font-size: clamp(1.5rem, 10px + 5vw, 2rem);
        margin: 2rem 0;
    }
}

#success {
    font-size: clamp(1.5rem, 10px + 5vw, 2rem);
}

input::placeholder,
textarea::placeholder {
    opacity: 60%;
}
